.Container {
    display: flex;
    align-items: center;
    box-shadow: 1px 0px 5px 0px #000;
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.imgWrapper {
    margin: 0.8rem;
    margin-right: auto;
}
.imgWrapper img {
    border-radius: 50%;    
}
.infoWrapper{
    flex-grow: .9;
}
.infoWrapper p {
    margin: 0;
}

/* Skeleton Lodader */
.skeleton {
    width: 85%;
    top:  50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.skeleton_p {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    margin-bottom: 10px;
}
.skeleton_img {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}
